<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :google_id %><br />
    <%= f.text_field :google_id %>
  </p>
  <p>
    <%= f.label :google_picture %><br />
    <%= f.text_field :google_picture %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :google_email %><br />
    <%= f.text_field :google_email %>
  </p>
  <p>
    <%= f.label :google_first_name %><br />
    <%= f.text_field :google_first_name %>
  </p>
  <p>
    <%= f.label :google_last_name %><br />
    <%= f.text_field :google_last_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
