<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>Google Token</th>
    <th>Google Email</th>
    <th>Google Name</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.google_user ? user.google_user.token : "" %></td>
      <td><%= user.google_user ? user.google_user.email : "" %></td>
      <td><%= user.google_user ? user.google_user.name : "" %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
