<% title "User" %>

<p>
  <strong>Name</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Google Name</strong>
  <% if @user.google_user %>
    <%= @user.google_user.name %>
  <% end %>
</p>
<p>
  <strong>Google Email</strong>
  <% if @user.google_user %>
    <%= @user.google_user.email %>
  <% end %>
  </p>
<p>
  <strong>Google Token</strong>
  <% if @user.google_user %>
    <%= @user.google_user.token %>
  <% end %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
