<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <% if current_user.nil? %>
        <div>
          <%= link_to "Login with your Google ID", "/auth/google_oauth2" %>
        </div>
        <div>
          <%= link_to "Login with your Dish ID", "/auth/dish_oauth" %>
        </div>
      <% else %>
        <%= "Hello #{current_user.google_user.name}" %>
        <div>
          <%= link_to "Logout", "/session/destroy" %>
        </div>
        <% if current_user.google_user %>
          <div>
            <%= link_to "Disable Google Services", "/session/deauth?auth_type=google_oauth2" %>
          </div>
        <% else %>
          <div>
            <%= link_to "Enable Dish Services", "/session/reauth?auth_type=google_oauth2" %>
          </div>
        <% end %>
        <% if current_user.dish_user %>
          <div>
            <%= link_to "Disable Dish Services", "/session/deauth?auth_type=dish_oauth" %>
          </div>
        <% else %>
          <div>
            <%= link_to "Enable Dish Services", "/session/reauth?auth_type=dish_oauth" %>
          </div>
 
        <% end %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
